node_modules
**/node_modules
server/dist
client/dist
**/*.db
**/*.db-journal
**/*.db-wal
**/*.db-shm
.git
.env
**/.env
PRINTS
Prints
Imagens
*.md
client/public/art/ships_raw
client/public/art/races_raw
client/public/art/ships/*/
client/public/art/races/*/
**/*_raw
